name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        ruby-version:
          - 2.5.8
          - 2.6.6
          - 2.7.2
          - 3.0.0
        dependency-version:
          - SPROCKETS_VERSION: "~> 3.3.0"
          - SPROCKETS_VERSION: "~> 3.7.0"
          - SPROCKETS_VERSION: "~> 4.0.0.beta4"
          - EMBER_SOURCE_VERSION: "~> 1.13"
          - EMBER_SOURCE_VERSION: "~> 2.6"
          - EMBER_SOURCE_VERSION: "~> 2.10"

    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - uses: actions/setup-node@v2
      - name: Install dependencies
        run: |
          gem update --system
          gem install bundler
          bundle config set path vendor/bundle
          bundle install --jobs 4 --retry 3
        env:
          ${{ matrix.dependency-version }}
      - name: Run tests
        run: |
          bundle exec rake
